body 
{
    background: #f4f4f4 ;
    font-family: 'Times New Roman', Times, serif;
}
h1 
{
    color: #0a3c6e;
    text-align: center;
}
.content
{
    max-width: 900px;
    margin: auto;
}


.project img
{
 width: 90%;                          
    max-width: 500px;                     
    height: auto;                        
    display: block;                   
    margin-left: 0;
    border: 3px solid #0a3c6e;           
    border-radius: 8px;                  
}
