body {
    background: #AFE1E0 ;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: #6A97DE;
    text-align: center;
}
.project img{
width: 500px;
height: 250px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin-left: 0;
}
