body {
    background: #CAF4F4 ;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: #66A0A0;
    text-align: center;
}
.project img{
width: 500px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin-left: 0;
}
